@model UIhub.Models.ViewModels.NewPostViewModel
<h1>Создание публикации</h1>
<form asp-action="PlacePost" method="post">
    <div class="form-group">
        <label asp-for="Title">Тема</label>
        <input asp-for="Title" class="form-control" required/>
    </div>
    <div class="form-group">
        <label asp-for="Description">Описание</label>
        <textarea asp-for="Description" class="form-control" required></textarea>
    </div>
    <div class="form-group">
        <h4>Автоматическая оценка</h4>
        <p>Загрузите сюда xaml-файлы вашего интерфейса</p>
        <input type="file" name="uploadedFiles" title=" " multiple accept=".xaml" /><br>
    </div>
    <div class="row">
        <div class="col-3">
            <input type="button" class="btn btn-primary" value="Добавить ссылку Figma" onclick="newFigmaField()"/>
            <input type="button" class="btn btn-primary" value="Добавить изображение" onclick="newImgField()" />
        </div>
        <div id="layoutsFields" class="col-9"></div>
    </div>
    
    <div>
        <h5>Формат обратной связи</h5>
        <input type="radio" value="scale" id="scale" name="EstimateFormat" asp-for="EstimateFormat" checked onclick="newEstimateFields(this.id)" />
        <label for="scale">Шкала оценки</label>

        <input type="radio" value="voting" id="voting" asp-for="EstimateFormat" name="EstimateFormat" onclick="newEstimateFields(this.id)" />
        <label for="voting">Голосование</label>

        <input type="radio" value="ranging" id="ranging" asp-for="EstimateFormat" name="EstimateFormat" onclick="newEstimateFields(this.id)" />
        <label for="ranging">Ранжирование</label>

        <div id="formatContent" class="row">
            <div class="col-auto">
                <p>Добавить шкалу</p>
            </div>
            <div class="col-auto">
                <button type="button" id="newScaleBtn" onclick="newScale()">+</button>
            </div>
            <div class="form-group">
                    <input type="text" class="form-control" id="EstimatesScale[0]" asp-for="EstimatesScale[0].Characteristic" placeholder="Характеристика"/>
            </div>
        </div>
        <div class="row">
            <p>Вывести в топ</p>
            <input type="checkbox" asp-for="IsTop">
        </div>
    <button type="submit" class="btn-primary">
        Разместить
    </button>
</form>

