html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.like-button {
    display: inline-block;
    position: relative;
    font-size: 32px;
    cursor: pointer;
    border-style: none;
    // border: 1px solid black;
    &::before

{
    font-size: 1em;
    color: #000;
    content: '♥';
    position: absolute;
    left: 0%;
    top: -200%;
    transform: translate(-50%, -50%);
}

&::after {
    font-size: 1em;
    color: #ff3252;
    content: '♥';
    position: absolute;
    left: 0%;
    top: -200%;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.2s;
}

&.liked::after {
    transform: translate(-50%, -50%) scale(1.1);
}
}
.dislike-button {
    display: inline-block;
    position: relative;
    font-size: 32px;
    cursor: pointer;
    border-style: none;
    // border: 1px solid black;
    &::before

{
    font-size: 1em;
    color: #ff3252;
    content: '♥';
    position: absolute;
    left: 0%;
    top: -200%;
    transform: translate(-50%, -50%);
}

&::after {
    font-size: 1em;
    color: #000;
    content: '♥';
    position: absolute;
    left: 0%;
    top: -200%;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.2s;
}

&.liked::after {
    transform: translate(-50%, -50%) scale(1.1);
}
}
